html, body {
    margin: 0;
    padding: 0;
}

body {
    font: 76% Arial, sans-serif;
}

.navbar {
        background-color: hotpink;
        overflow: hidden;
        font-family: fantasy;
        color: white;
        font-size: 20px;
        padding: 10px;
        text-align: center;
        border-bottom-right-radius: 200px;
        border-bottom-left-radius: 200px;
        }

.kotak-konten {
    display: flex;
    align-items: center;
    margin-left: 4px;
}

.kotak1 {
    width: 50px;
    padding: 40px;
    background-color: salmon;
    left: 200px;
    justify-content: center;
    margin-left: 5px;
}

.kotak2 {
    width: 50px;
    padding: 40px;
    background-color: hotpink;
    left: 200px;
    justify-content: center;
    margin-left: 5px;
}

.kotak3 {
    width: 50px;
    padding: 40px;
    background-color: blueviolet;
    left: 200px;
    justify-content: center;
    margin-left: 5px;
}

a {
    padding: 5px;
    text-decoration: none;
    color: #000000;
}

header .gambar {
    background-color: blueviolet;
    padding: 100px;
    width: 20px;
}

header h1, h2 {
    font-family: monospace;
    margin: 0px;
    text-align: center;
    color: white;
}

header h1::first-letter, h2::first-letter{
    font-size: 40px;
}

#container {
    width: 700px;
    margin: 0 auto;
    position: relative;
}


.side-content1 {
	margin-top: 10px;
    background: white;
    box-shadow: -1px -0px 5px;
    float: left;
    width: 150px;
    height: 100px;
    margin-left: -150px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.side-content2 img {
	width: 80px;
	text-align: center;	
}

.side-content1 p {
	margin-top: 10px;
	text-align: center;
}

.side-content1 ul {
    margin: 15px 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.side-content1 li {
    margin-bottom: 5px;
    text-align: center;
}

.side-content2 {
    background: white;
    box-shadow: -1px -0px 5px;
    float: left;
    margin-top: 10px;
    width: 200px;
    margin-left: -770px;
    height: 300px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.side-content2 p {
	margin-top: 10px;
	text-align: center;
}

.side-content2 ol {
	margin-top: 10px;
	text-align: center;
}

footer {
    text-align: center;
    width: 50%;
    height: 70px;
    line-height: 50px;
    background: purple;
    color: green;
    position: absolute;
    left: 350px;
    bottom: 0px;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
}

#footer p {
    margin: 0;
    text-align: center;
    padding: 5px 10px;
    color: white;
    font-size: 15px;
}

#wrapper {
    float: left;
    width: 100%;
}

#content {
    margin: 0 150px;    
    box-shadow: -1px -0px 5px;
    height: 400px;
    width: 500px;
    right: 0px;
}