/*Halaman Log in */

/* Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

/* Tombol Login */
button {
    margin: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: #555;
}

/* Pop-up Overlay */
.popup {
    display: none; /* Tersembunyi secara default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

/* Pop-up Aktif */
.popup:target {
    display: flex; /* Tampilkan pop-up saat ditargetkan */
}


/* Konten Pop-up */
.popup-content {
    background-color: white;
    padding: 50px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

/* Tombol Close */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #333;
}

/* Input dan Tombol */
.popup-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup-content button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}

.popup-content button:hover {
    background-color: #555;
}

/* Teks Link */
.popup-content p a {
    color: #333;
    text-decoration: underline;
    cursor: pointer;
}