body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #f8f8f8;
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%),
    url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e94d18c5-2406-465c-8e6f-5bad3fa63574/d30e2v6-a4afcdd5-7894-4a7e-b00b-021b353bf82a.png/v1/fill/w_900,h_563/onepiece_mangapieces_wallpaper_by_whit_3_d30e2v6-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTYzIiwicGF0aCI6IlwvZlwvZTk0ZDE4YzUtMjQwNi00NjVjLThlNmYtNWJhZDNmYTYzNTc0XC9kMzBlMnY2LWE0YWZjZGQ1LTc4OTQtNGE3ZS1iMDBiLTAyMWIzNTNiZjgyYS5wbmciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.Po51-JprK8uADXoBDyUwT9hCAQjdqzY3v0bLX6pvCDc);  
    background-blend-mode: multiply;
    background-color: #282836;
}

header {
    background-color: #1e293b;
    color: white;
    text-align: center;
    padding: 10px 0;
}

header img {
    max-width: 100%;
    height: auto;
}

nav {
    background-color: #3b82f6;
    text-align: center;
    padding: 10px 0;
    position: sticky;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

.content-title {
    display: none;
    color: white;
    align-items: center;
    justify-content: center;
}

.crew p {
    font-family: monospace;
    font-size: 30px;
    padding: 20px;
}

.straw-hats {
    backdrop-filter: blur(3px);
}

.straw-hats h2 {
    text-align: center;
    margin: 0;
}

.straw-hats p {
    bordewr-bottom: 6px solid #0061ff;
    text-align: center;
    font-size: 24px;
    font-family: monospace;
    margin-top: 20px;
    padding-bottom: 20px;
}

.monsters-borders-bottom {
    border-bottom: 6px solid #0061ff;
    border-top: 6px solid #0061ff;
    text-align: center;
    font-size: 30px;
    margin: 20px;
}

.kotak-grup {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.kotak1:hover {
    background-size: 180%;
}
.kotak2:hover {
    background-size: 210%;
}
.kotak3:hover {
    background-size: 210%;
}


.kotak1 {
    width: 200px;
    background-size: 160%;
    background-position: center;
    height: 200px;
    color: black;
    border: 3px solid black;
    cursor: pointer;
    transition: background-size 0.5s ease;

}.kotak2 {
    width: 200px;
    background-size: 191%;
    background-position: center;
    height: 200px;
    color: black;
    border: 3px solid black;
    cursor: pointer;
    transition: background-size 0.5s ease;
}

.kotak3 {
    width: 200px;
    background-size: 191%;
    background-position: center;
    height: 200px;
    color: black;
    border: 3px solid black;
    cursor: pointer;
    transition: background-size 0.5s ease;
}

.kotak1 {
    background-image: url(https://media.hitekno.com/thumbs/2022/05/31/82987-one-piece-luffy/730x480-img-82987-one-piece-luffy.jpg);
}

.kotak2 {
    background-image: url(https://cdnwpseller.gramedia.net/wp-content/uploads/2023/02/roronoza-zoro.webp);
}

.kotak3 {
    background-image: url(https://i0.wp.com/spellmana.com/wp-content/uploads/2024/08/red-sanji-deck-guide.webp?fit=1593%2C868&ssl=1);
}

.trio-monsters-title p {
    margin: 0;
    font-size: 50px;
    text-align: center;
}

.trio-monsters, .another-crew-1, .another-crew-2 {
    display: flex;
    font-size: 24px;
    justify-content: space-around;
    font-family: monospace;
}

.kotak-grup-crew, .kotak-grup-crew-2 {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    cursor: pointer;
    transition: background-size 0.5s ease;
}

.kotak4, .kotak5, .kotak6, .kotak7, .kotak8, .kotak9 {
    width: 200px;
    background-size: cover;
    height: 200px;
    background-position: center;
    color: black;
    border: 3px solid black;
}

.kotak4 {
    background-image: url(https://fantech.id/wp-content/uploads/2023/11/image-35.png);
}

.kotak5 {
    background-image: url(https://asset-2.tstatic.net/tribunnewswiki/foto/bank/images/Usopp-di-One-PieceUsopp-di-One-Piece.jpg);
}
.kotak6 {
    background-image: url(https://i.pinimg.com/474x/66/5a/86/665a8611f10f29b606174ca8ea3df29d.jpg);
}
.kotak7 {
    background-image: url(https://i.pinimg.com/736x/c5/a6/2a/c5a62a1c811bd6cac27cc17cd405337b.jpg);
}
.kotak8 {
    background-image: url(https://www.greenscene.co.id/wp-content/uploads/2022/06/robin-onigashima.jpeg);
}
.kotak9 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpkVE0StgeUd2TD2MEfoLjLfIFUAgJYX8y9A&s);
}

.informations h2 {
    border-bottom: 6px solid #0061ff;
}

.informations h2 {
    padding: 20px;
    text-align: center;
    font-size: 40px;
    font-family: monospace;
}

.crew-desc {
    padding: 20px;
    color: white;
    background-color: #1e293b;
    text-align: center;
    font-size: 23px;
    font-family: monospace;
}

.crew-info-1, .crew-info-2, .crew-info-3, .crew-info-4, .crew-info-5, .crew-info-6, .crew-info-7, .crew-info-8, .crew-info-9  {
    width: 200px;
    margin-bottom: 10px;
    background-size: cover;
    height: 200px;
    color: black;
    border: 3px solid white;
}

.description {
    text-align: justify;
    border: 5px double darkgray;
    padding: 17px;
    margin-bottom: 20px;
}

.description h3 {
    text-align: center;
    font-size: 40px;
    margin: 10px 0 10px 0;
}

.crew-info-1 {
    background-image: url(https://i.pinimg.com/736x/fb/95/b7/fb95b7fea0ea1223185714531c4b6772.jpg);
    margin-right: 20px;
}
.crew-info-2 {
    background-image: url(https://i.pinimg.com/736x/e4/cc/d6/e4ccd643a16f31a24af5eda3eb8ab421.jpg);
    margin-right: 20px;
}
.crew-info-3 {
    background-image: url(https://i.pinimg.com/736x/b2/f4/02/b2f4026a92f3400d39e399d27f2b1690.jpg);
    margin-right: 20px;
}
.crew-info-4 {
    background-image: url(https://i.pinimg.com/236x/2e/5a/59/2e5a592c729cc85cb2c1708de5ba9ba2.jpg);
    margin-right: 20px;
}
.crew-info-5 {
    background-image: url(https://i.pinimg.com/originals/89/b4/70/89b4709ca3ed6377c567f552f61c04c6.png);
    margin-right: 20px;
}
.crew-info-6 {
    background-image: url(https://i.pinimg.com/1200x/00/c6/26/00c62614d4379af7d64af1185a5b7d5b.jpg);
    margin-right: 20px;
}
.crew-info-7 {
    background-image: url(https://pbs.twimg.com/media/FFkUEuNWUAgfLhS.jpg);
    margin-right: 20px;
}
.crew-info-8 {
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6e202bc8-abf8-4bea-be7d-8ee92ff86ec6/d4nkp9s-fb483ac9-be64-4f2f-b5dc-9499077936b9.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzZlMjAyYmM4LWFiZjgtNGJlYS1iZTdkLThlZTkyZmY4NmVjNlwvZDRua3A5cy1mYjQ4M2FjOS1iZTY0LTRmMmYtYjVkYy05NDk5MDc3OTM2YjkuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.j8jWCU2lIwLISJt8t8FpS90LJqAhbSx_tJQyz15vkVE);
    margin-right: 20px;
}
.crew-info-9 {
    background-image: url(https://i.pinimg.com/736x/58/d1/d5/58d1d5999628c8f4156512f45d3f2322.jpg);
    margin-right: 20px;
}

.map h2 {
    text-align: center;
    font-size: 30px;
}

.map-1 {
    border-bottom: 8px double; darkgray;
    padding: 10px 0 10px;
}

.map-1 img {
    margin-bottom: 10px;
}

.map {
    text-align: center;
    border: 13px double darkgray;;
    margin: 10px;
}

.img-sidebar {
    display: flex;
}

.img-side-desc {
    width: 75%;
    margin-top: 0;
}

footer {
    background-color: #1e293b;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    position: sticky;
}

footer img {
    height: 50px;
    vertical-align: middle;
}

.content {
    padding: 20px;
    text-align: center;
    font-family: monospace;
    font-size: 25px;
    backdrop-filter: blur(3px);
}

.content img {
    width: 500px;
}

.content h2, p {
    margin: 0;
}

h1 {
    color: #3b82f6;
}
